html {
  height: 100%;
  background: 50% 50% no-repeat
    url('data:image/svg+xml,<svg viewBox="-20 -5 60 40" width="140" xmlns="http://www.w3.org/2000/svg" opacity="0.2"><path d="M1 8l11-7 11 7v8l-11 7-11-7zm0 0l11 8 11-8m0 8L12 8 1 16M12 1v7m0 8v7" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><text x="-12" y="32" font-size="5" font-family="monospace" fill="currentColor">Built on CodePen</text></svg>');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("fondo a.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
    overflow: hidden;
}

/* TÍTULO */
.titulo {
    text-align: center;
    padding: 25px 10px;
    color: #6b2800;
}


.titulo h1 {
    margin: 0;
    font-family: "Cinzel", serif;
    font-weight: 900;
    font-size: clamp(3rem, 8vw, 5.5rem);
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    text-transform: none;
    background:
        linear-gradient(
            to bottom,
            #fac637,
            #ecb017,
            #c0810c
        );
    -webkit-background-clip: text;
    color: transparent;
    text-shadow:
        0 0 15px rgba(240, 192, 64, 0.25);
    animation:
        aparecer-arriba 0.7s ease,
        brillo 3s infinite;
}


@keyframes brillo {


    0%, 100% {
        filter: drop-shadow(0 0 5px rgba(240, 192, 64, 0.3));
    }


    50% {
        filter: drop-shadow(0 0 18px rgba(240, 192, 64, 0.8));
    }

    
}


.titulo p {
    font-size: 22px;
    font-family: cursive;
    color: #000000;
}

/* MAPA */

.mapa {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
}

.nivel {
    position: absolute;
}

/* NIVELES */
.nivel {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 3px solid #dfdad1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(218, 206, 206);
    text-shadow: 2px 2px 3px rgba(0,0,0,.4);
    box-shadow:
        0 7px 0 rgba(0,0,0,.15),
        0 10px 15px rgba(0,0,0,.2);
    transition: .2s;
    z-index: 5;
}

.nivel1:hover {
    transform: scale(1.12);
    border-color: #006847;
    filter: brightness(1.25);
    box-shadow:
        0 0 8px #00ffaa,
        0 0 18px #00ff88,
        0 0 30px #00a870,
        0 0 45px rgba(0, 168, 84, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel2:hover {
    transform: scale(1.12);
    border-color: #d4c81c;
    filter: brightness(1.25);
    box-shadow:
        0 0 8px #fffb00,
        0 0 18px #fbff00,
        0 0 30px #a5a800,
        0 0 45px rgba(165, 168, 0, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel3:hover {
    transform: scale(1.12);
    border-color: #E97850;
    filter: brightness(1.25);
    box-shadow:
        0 0 8px #ff5e00,
        0 0 18px #ff5e00,
        0 0 30px #a85f00,
        0 0 45px rgba(168, 76, 0, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel4:hover {
    transform: scale(1.12);
    border-color: #32C5C7;
    filter: brightness(1.25);
    box-shadow:
        0 0 8px #00f7ff,
        0 0 18px #00fff2,
        0 0 30px #00a8a8,
        0 0 45px rgba(0, 162, 168, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel5:hover {
    transform: scale(1.12);
    border-color: #F35B9A;
    filter: brightness(1.25);
    box-shadow:
        0 0 8px #ff0095,
        0 0 18px #ff00aa,
        0 0 30px #a80084,
        0 0 45px rgba(168, 0, 126, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel6:hover {
    transform: scale(1.12);
    border-color: #A477D8;
    filter: brightness(1.25);
    box-shadow:
        0 0 8px #8c00ff,
        0 0 18px #a200ff,
        0 0 30px #8600a8,
        0 0 45px rgba(129, 0, 168, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel7:hover {
    transform: scale(1.12);
    border-color: #E95B51;
    filter: brightness(1.25);
    box-shadow:
        0 0 10px #ff0800,
        0 0 18px #ff0800,
        0 0 30px #ff0800,
        0 0 45px rgba(168, 39, 0, 0.6),
        0 7px 0 rgba(0, 0, 0, 0.15);
}
.nivel8:hover {
    transform: scale(1.12);
    border-color: #00a870;
    filter: brightness(1.30);
    box-shadow: 
        0 0 10px #00a870,
        0 0 20px #00a870,
        0 0 30px #00a870,
        0 0 50px #019262,
        0 9px 0 rgba(0, 0, 0, 0.15);
}
.nivel9:hover {
    transform: scale(1.14);
    border-color: #A22B1F;
    filter: brightness(1.30);
    box-shadow: 
     0 0 10px #ff1500,
        0 0 20px #ff1500,
        0 0 30px #910c00,
        0 0 50px #860b00a8,
        0 9px 0 rgba(0, 0, 0, 0.15);
}
.nivel10:hover {
    transform: scale(1.12);
    border-color: #73C2FB;
    filter: brightness(1.30);
    box-shadow: 
    0 0 10px #008cff,
        0 0 20px #0099ff,
        0 0 30px #005791,
        0 0 50px #004a86a8,
        0 9px 0 rgba(0, 0, 0, 0.15);
}
.nivel:active {
    transform: scale(.95);
}

/* COLORES DE LOS NIVELES */
.nivel:nth-child(1) {
    background: linear-gradient(#006847, #008F7A);
}

.nivel:nth-child(2) {
    background: linear-gradient(#FFD95A, #E6A817);
}

.nivel:nth-child(3) {
    background: linear-gradient(#E97850, #C65D3A);
}

.nivel:nth-child(4) {
    background: linear-gradient(#32C5C7, #159A9C);
}

.nivel:nth-child(5) {
    background: linear-gradient(#F35B9A, #E83E8C);
}

.nivel:nth-child(6) {
    background: linear-gradient(#A477D8, #7547A8);
}

.nivel:nth-child(7) {
    background: linear-gradient(#E95B51, #C93C35);
}

.nivel:nth-child(8) {
    background: linear-gradient(#54B96F, #278A4B);
}

.nivel:nth-child(9) {
    background: linear-gradient(#A22B1F, #b64439);
}

.nivel:nth-child(10) {
    background: linear-gradient(#73C2FB, #7fbfec);
}
/* POSICIONES */
/* POSICIONES DE LOS NIVELES */

.nivel1 {
    left: 14%;
    top: 78%;
}

.nivel2 {
    left: 25%;
    top: 66%;
}

.nivel3 {
    left: 41%;
    top: 73%;
}

.nivel4 {
    left: 58%;
    top: 74%;
}

.nivel5 {
    left: 73%;
    top: 68%;
}

.nivel6 {
    left: 83%;
    top: 50%;
}

.nivel7 {
    left: 64%;
    top: 49%;
}

.nivel8 {
    left: 42%;
    top: 51%;
}

.nivel9 {
    left: 24%;
    top: 46%;
}

.nivel10 {
    left: 12%;
    top: 26%;
}
/* ESTRELLAS */
.estrellas {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #ffd83d;
    font-size: 20px;
    text-shadow: 1px 1px 2px #765000;
}

/* VENTANA DE INFORMACIÓN */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.55);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 20px;
}

.modal.activo {
    display: flex;
}

.contenido {
    width: 100%;
    max-width: 600px;
    background: #fff8df;
    border: 8px solid #e8a83e;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,.4);
    animation: aparecer .3s ease;
}

.contenido h2 {
    color: #7b3900;
    font-size: 30px;
    margin-bottom: 15px;
}

.contenido p {
    color: #493b30;
    font-size: 17px;
    line-height: 1.6;
}

.cerrar {
    margin-top: 20px;
    padding: 12px 28px;
    border: none;
    border-radius: 25px;
    background: #e84d77;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover {
    background: #c9365e;
}

@keyframes aparecer {
    from {
        transform: scale(.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* AdAPTACIÓN PARA CELULARES */

@media (max-width: 700px) {

    body {
        background-image: url("fondo\ vertical.png");
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        
        background-size: 100% 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    /* TÍTULO */
    .titulo {
        padding: 12px 5px 5px;
    }

    .titulo h1 {
        font-size: 32px;
        line-height: 0.9;
    }

    .titulo p {
        font-size: 15px;
        margin-top: 12px;
        padding: 0 10px;
    }

    /* MAPA */
    .mapa {
        width: 100%;
        height: 750px;
        min-height: 750px;
    }

    /* NIVELES */
    .nivel {
        width: 48px;
        height: 48px;
        font-size: 18px;
        transform: translateX(-50%);
    }

    .nivel:hover {
        transform: translateX(-50%) scale(1.08);
    }
    .nivel:active{
        transform: translateX(-50%) scale(.95);
    }
/* ================================= */
/* CAMINO DE NIVELES - CELULAR */
/* ================================= */

.nivel1 {
    left: 52%;
    top: 94%;
}

.nivel2 {
    left: 66%;
    top: 86%;
}

.nivel3 {
    left: 41%;
    top: 80%;
}

.nivel4 {
    left: 50%;
    top: 70%;
}

.nivel5 {
    left: 80%;
    top: 66%;
}

.nivel6 {
    left: 82%;
    top: 55%;
}

.nivel7 {
    left: 55%;
    top: 57%;
}

.nivel8 {
    left: 35%;
    top: 55%;
}

.nivel9 {
    left: 23%;
    top: 44%;
}

.nivel10 {
    left: 43%;
    top: 34%;
}

    /* ESTRELLAS */
    .estrellas {
        bottom: -19px;
        font-size: 13px;
    }

    /* VENTANA */
    .modal {
        padding: 15px;
    }

    .contenido {
        width: 95%;
        padding: 20px 15px;
        border-width: 5px;
    }

    .contenido h2 {
        font-size: 23px;
    }

    .contenido p {
        font-size: 15px;
        line-height: 1.5;
    }

    .cerrar {
        padding: 10px 22px;
        font-size: 15px;
    }
}