<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MexiAventura</title>
  </head>
  <body>
    
<!-- TÍTULO -->
<div class="titulo">
    <h1>MEXI
        AVENTURA</h1>
    <p><i>Viaja por la historia de México prehispánico y la Conquista</i></p>
</div>


<!-- MAPA -->
<div class="mapa">


    <!-- NIVEL 1 -->
    <button class="nivel nivel1" onclick="abrirNivel(1)">
        1
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 2 -->
    <button class="nivel nivel2" onclick="abrirNivel(2)">
        2
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 3 -->
    <button class="nivel nivel3" onclick="abrirNivel(3)">
        3
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 4 -->
    <button class="nivel nivel4" onclick="abrirNivel(4)">
        4
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 5 -->
    <button class="nivel nivel5" onclick="abrirNivel(5)">
        5
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 6 -->
    <button class="nivel nivel6" onclick="abrirNivel(6)">
        6
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 7 -->
    <button class="nivel nivel7" onclick="abrirNivel(7)">
        7
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 8 -->
    <button class="nivel nivel8" onclick="abrirNivel(8)">
        8
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 9 -->
    <button class="nivel nivel9" onclick="abrirNivel(9)">
        9
        <span class="estrellas">⭐⭐⭐</span>
    </button>


    <!-- NIVEL 10 -->
    <button class="nivel nivel10" onclick="abrirNivel(10)">
        10
        <span class="estrellas">⭐⭐⭐</span>
    </button>

</div>


<!-- VENTANA DE INFORMACIÓN -->

<div class="modal" id="modal">

    <div class="contenido">

        <h2 id="tituloNivel"></h2>

        <p id="textoNivel"></p>

        <button class="cerrar" onclick="cerrarNivel()">
            Cerrar ✖
        </button>

    </div>

</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
